// Fonts
$main-font: 'Open Sans', sans-serif;
$second-font: 'din-condensed-web', sans-serif;

// DELAY ADOBE FONT OFF
.wf-loading {
  visibility: hidden;
}

// Colors
$main-color: #0982DA;
$color-gray-light: #9B9B9B;

$green: #40C790;

$blue: #4A90E2;

$orange: #F7A700;